@import url('reset.css');
@import url('scaffold.css');
@import url('base_theme.css');

#title h1 {
    font-size: 3.0em;
}

#content, footer {
    text-align: center;
}

#main {
    padding-top: 20px;
}

#game-table {
    margin: 20px auto;
}

#game-table td {
    width: 128px;
    height: 128px;
}

/* 
 * I would use nth-child selectors, but I'd rather just hard-code these
 * to avoid having to do it anyway for legacy IE versions.
 */
#game-table tr.bottom-bord td {
    border-bottom: 2px solid #CCC;
}

#game-table td.right-bord {
    border-right: 2px solid #CCC;
}

a {
    text-decoration: none;
}

.big-button {
    width: 200px !important;
    height: 80px !important;
    margin: 10px 10px;
    font-size: 1.4em;
}

.move-button {
    width: 128px !important;
    height: 128px !important;
    border: 0px !important;
    background-color: white !important;
    color: white;
}

.message {
    margin-top: 10px;
    color: red;
    font-size: 1.6em;
}

#controls {
    position: absolute;
    top: 20px;
    right: 0;
}
