@import url('reset.css');
@import url('scaffold.css');
@import url('base_theme.css');

#game-table {
    margin: 0 auto;
}

#game-table td {
    width: 128px;
    height: 128px;
}

/* 
 * I would use nth-child selectors, but I'd rather just hard-code these
 * to avoid having to do it anyway for legacy IE versions.
 */
#game-table tr.bottom-bord td {
    border-bottom: 2px solid #CCC;
}

#game-table td.right-bord {
    border-right: 2px solid #CCC;
}
